<nav hidden>
    <div class="navbar-nav">
      <!-- <form method="GET" action="/login" id="login-btn"><i class="fa-solid fa-right-to-bracket"></i> <input type="submit" value="Log in"></form><br>
      <form method="GET" action="/register" id="register-btn"><i class="fa-solid fa-user-plus"></i><input type="submit" value="Create New Account"></form><br> -->
      <form method="POST" action="/logout" id="logout-btn"><i class="fa-solid fa-right-from-bracket"></i><input type="submit" value="Log out"></form><br>
      <br>
      <!-- <a><input type="submit" class="nav-item nav-link" href="/urls" value="Account"></a><br> -->
      <a href="/quizzes"><input type="submit" class="nav-item nav-link" value="My Quizzes"></a><br>
      <a href="/results"><input type="submit" class="nav-item nav-link" value="My Results"></a><br>
      <a href="/new"><input type="submit" class="nav-item nav-link" value="Create New Quiz"></a><br>
    </div>
  </div>
</nav>