<!DOCTYPE html>
<html lang="en">

<head>

  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/new-quiz.css" />
  <link
  href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Mansalva&family=Palanquin+Dark:wght@400;500;600&family=Rubik+Moonrocks&display=swap"
  rel="stylesheet">
  <script src="https://kit.fontawesome.com/2172e03b57.js" crossorigin="anonymous"></script>


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/new-quiz.js"></script>
  <script src="/scripts/nav.js"></script>
  <script src="/scripts/textarea-expand.js"></script>
</head>

<body>
  <%- include('./partials/_header') -%>
    <%- include('./partials/_nav') -%>
      <main>
        <form class="new-quiz" action="/new" method="POST">
          <h1>Create Your Quiz!</h1>
          <textarea id="quiz-title" name="title" placeholder="Quiz Title"></textarea>
          <textarea id="quiz-description" name="description" placeholder="Quiz Description"></textarea>
            <div id="private">
            <input type="checkbox" id="private" name="private" value="true"> Make Quiz Private
          </div>
          <button type="submit">Create Quiz</button>
        </form>
      </main>
</body>

</html>