body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: white;

  main {
    width: 90%;
    height: 100%;
    display: grid;
    gap: .5rem;
    margin-top: 5rem;

    h1 {
      font-family: 'Belanosima', sans-serif;
      font-size: 2em;
      margin-top: .75em;
      margin-bottom: 0px;
    }
  
    h2 {
      font-size: large;
      color: white;
      text-decoration: none;
    }
  
    h4 {
      font-size: medium;
      font-weight: 300;
    }
  }

  section {
    display: flex;
  }

  .quiz-container {
    background-color: #7E52B7;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: .5em;
    overflow: auto;
    
    a { 
      color: white}

    h2, h4 {
      padding-left: .25em;
      padding-right: .25em;
    }

    h4 {
      margin-top: .15em;
    }
  }
}
