body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: white;

  h1 {
    font-family: poppins, sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  h2 {
    color: white;
    text-decoration: none;
  }

  main {
    width: 90%;
    display: grid;
    gap: .5rem;
    margin-top: 5rem;
  }

  section {
    display: grid;
  }

  .quiz-container {
    background-color: #7E52B7;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: .5em;
    grid-template-columns: repeat(2, 60%);
    
    a { 
      color: white}

    h2, h4 {
      padding-left: .25em;
      padding-right: .25em;
    }
  }
}
